<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.emerjeonsibackadmin.mapper.AdminMapper">
    <select id="selectAdminByAdminId" parameterType="String" resultType="com.kosa.emerjeonsibackadmin.dto.Admin">
        SELECT * FROM TB_Admins_Master WHERE adminId = #{adminId}
    </select>

<!--    <insert id="saveExhibitions" parameterType="List">-->
<!--        INSERT INTO TB_Exhibitions_Master () VALUES ()-->
<!--    </insert>-->
</mapper>